test.dtd

<!-- Scaly Test DTD (SGML) -->
<!-- Literate testing elements for Scaly documentation -->

<!ELEMENT category - O (prose?, tests+)>
<!ATTLIST category
    xml:id      ID          #IMPLIED
    title       CDATA       #IMPLIED
>

<!ELEMENT tests - O (prose?, test+)>
<!ATTLIST tests
    xml:id      ID          #IMPLIED
    title       CDATA       #IMPLIED
>

<!ELEMENT test - O (input, expect, description?)>
<!ATTLIST test
    xml:id      ID          #IMPLIED
    skip        (true|false) false
>

<!ELEMENT prose - O (#PCDATA)>
<!ELEMENT input - O (#PCDATA)>
<!ELEMENT expect - O (#PCDATA)>
<!ELEMENT description - O (#PCDATA)>
