test.dtd

<!-- Scaly Test DTD (SGML) -->
<!-- Literate testing elements for Scaly documentation -->

<!ELEMENT suite - O (category+)>
<!ATTLIST suite
    id          ID          #IMPLIED
    title       CDATA       #IMPLIED
>

<!ELEMENT category - O (prose?, tests+)>
<!ATTLIST category
    id          ID          #IMPLIED
    title       CDATA       #IMPLIED
>

<!ELEMENT tests - O (prose?, test+)>
<!ATTLIST tests
    id          ID          #IMPLIED
    title       CDATA       #IMPLIED
>

<!ELEMENT test - O (input, expect, description?)>
<!ATTLIST test
    id          ID          #IMPLIED
    skip        (skip)      #IMPLIED
    program     (program)   #IMPLIED
>

<!ELEMENT prose - O (#PCDATA)>
<!ELEMENT input - O (#PCDATA)>
<!ELEMENT expect - O (#PCDATA)>
<!ELEMENT description - O (#PCDATA)>
